version: '3'

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sampleapp
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 18080:8080
